@import url('./styles/font.css');
@import 'tailwindcss';
@tailwind utilities;

@theme {
  --font-figtree: 'Figtree', sans-serif;

  --color-icon: #ffffffb3;
  --color-modal: oklch(40% 0 0 / 0.3);
  --color-primary: #1ed760;
  --color-primary-darker: #19B851;
  --color-primary-foreground: #fff;
}

@utility hit-area-* {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: calc(--value([length]) * -1);
  }
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

html,
body,
:root,
#root {
  font-family: 'Figtree', sans-serif;
  height: 100%;
  background-color: #000;
  color-scheme: dark;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

html {
}

.main_layout {
  grid-template:
    'header header header' auto
    'main main main' 1fr
    'footer footer footer' auto
    / 1fr;
  column-gap: 10px;
}
@media (width >= 48rem) {
  .main_layout {
    grid-template:
      'header header header' auto
      'sidebar main main' 1fr
      'footer footer footer' auto
      / var(--left-sidebar-width) 1fr;
  }
}

@media (width >= 64rem) {
  .main_layout {
    grid-template:
      'header header header' auto
      'sidebar main now_playing' 1fr
      'footer footer footer' auto
      / var(--left-sidebar-width) 1fr var(--now-playing-width);
  }
}
